<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <meta charset="UTF-8" />
    <title>마이페이지</title>
    <link rel="stylesheet" href="../static/mypage.css" />
    <script src="../static/mypage.js"></script>
  </head>
  <body>
    <div id="header"></div>
    <div id="contents">
      <div id="contents__header"><h1>마이 페이지</h1></div>
      <div id="contents__main">
        <input
          id="contents__main__paC"
          type="button"
          value="비밀번호 변경"
          onclick="show_pw_change()"
        />
        <input
          id="contents__main__profC"
          type="button"
          value="닉네임 변경"
          onclick="show_nick_change()"
        />
        <input
          id="contents__main__withdraw"
          type="button"
          value="탈퇴하기"
          onclick="go_leave()"
        />
      </div>
    </div>
  </body>
</html>
