@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
* {
  text-decoration: none;
  list-style: none;
  border-style: none;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit
}

h1 {
  padding-top: 50px;
  margin-left: 50px;
  font-size: 60px;
  /* border: black 1px solid;
      border-radius: 30px;
      width: 350px; */
}
html{
  width: 100%;
}
body{
  width: 100%;
  min-width: 1920px;
}

#wrapper {
  height: 90%;
  
}
#wrapper > div:first-child{
  display: flex;
  height: 100%;

}
#chall_btn{
  margin-left:200px;
  width: 20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:60px;
  font-weight: 600;
  background-color: black;
  color:white;
  border: 4px solid black;
}
#chall_btn:hover{
  cursor: pointer;
}
#chall_btn:active{
  background-color: black;
  color:white
}
#rank_btn{
  width: 20%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:60px;
  font-weight: 600;
  border: 4px solid black;
}
#rank_btn:hover{
  cursor: pointer;
}
#rank_btn:active{
  background-color: black;
  color:white
}
nav {
  display: flex;
  margin: 50px 0 50px 0;
  font-size: 30px;
}

nav>div {
  margin: 0 30px 0 38px;
  border: 4px black solid;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
}

nav>div:hover {
  background-color: black;
  color: #fff;
}

fieldset {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 1000px;
  box-sizing: content-box;
  margin-top: 50px;
}
#header__logo{
  width: 150px;
  height: 150px;
  margin-left: 20px;
}
main{
  width: 95%;
}
#mainForm {
  height: 1000px;
  box-sizing: content-box;
  width: 100%;
}

#mainForm>p {
  margin: 0 0 10px 20px;
  color: red;
}

#borde_wrapper {
  width: 100%;
  height: 94%;
  margin-left: 30px;
  border: black solid 4px;
  border-radius: 20px;


}

.borde_title {
  text-align: center;
  height: 10%;
  padding-top: 20px;
  font-size: 38px;

}
#board_header{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:50px;
}

/* .borde_title>div {
  height: 5%;
  margin-top: 4%;
  background-color: aliceblue;
} */


.borde_list {
  width: 100%;
  height: 165px;
  font-weight: bold;
  padding-top: 10px;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: yellow;
  border-top: #000000 solid;
  /* border-bottom: #000000 solid; */
  background: url('/static/pushup.jpg');
}
#borde_list2 {
  width: 100%;
  height: 165px;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  border-top: #000000 solid;
  background: url('/static/gigachad.jpg');
  color:white;
  font-size:50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.userdateWrapper {
  width: 100%;
  height: 50px;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userdateWrapper form{
  height: 100%;
  width: 100%;
  text-align: center;
}
.userdateWrapper form > input {
  width: 40%;
  margin-right: 40px;
  height: 100%;
  font-size: 20px;
  padding-left: 20px;
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  transition: 0.5s all ease-in-out;
  font-family: 'Noto Sans KR', sans-serif;
}
.userdateWrapper >form >input:focus {
  border: 4px solid black;
} 

.userdateWrapper >form> button{
  width: 20%;
  height: 100%;
  border-radius: 10px;
  border: 4px solid rgba(0,0,0,0.5);
  box-sizing: content-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight: 600;
}
.userdateWrapper >form >button:hover{
  cursor: pointer;
}
.userdateWrapper >form >button:active{
  border: 4px solid black;
  background-color: black;
  color:white;
}
#rank_box_frame{
  display: flex;
}
#rank__grade{
  margin-top:30px;
  margin-left: 20px;
  border: 4px solid black;
  border-radius: 10px;
  height: 330px;
  width: 290px;
}
#rank_box{
  width: 80%;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  font-size:20px;
}

#rank_box> thead{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgba(0,0,0,0.5);
}
#rank_box> thead > tr{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#rank_box> thead > tr > th:first-child{
  display: flex;
  width: 10%;
  justify-content: center;
}
#rank_box> thead > tr > th:nth-child(3),
#rank_box> thead > tr > th:last-child{
  display: flex;
  width: 20%;
  justify-content: center;
}
#rank_box> thead > tr > th:nth-child(2){
  width: 50%;
  display: flex;
  justify-content: center;
}
#rank_posts {
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}
#rank_posts::-webkit-scrollbar {
  width: 5px;
}
#rank_posts::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#rank_posts::-webkit-scrollbar-track {
  background-color: transparent;
}
#rank_posts:hover::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
}
#rank_posts  tr{
 height: 10%;
 text-align: center;
 align-items: center;
 display: flex;
 transition: 0.5s all ease-in-out;
 margin-top: 10px;
}
#rank_posts >tr> td:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

#rank_posts >tr> td:nth-child(3),
#rank_posts >tr> td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
} 
#rank_posts >tr> td:nth-child(2){
  text-align: center;
  width: 50%;
  font-weight: 600;
}


#chall_box{
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  height: 70%;
}

#chall_box> thead{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid rgba(0,0,0,0.5);
}
#chall_box> thead > tr{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#chall_box> thead > tr > th:first-child,
#chall_box> thead > tr > th:last-child{
  display: flex;
  width: 20%;
  justify-content: center;
}
#chall_box> thead > tr > th:nth-child(2){
  width: 60%;
  display: flex;
  justify-content: center;
}

#chall_posts {
  height: 70%;
  width: 100%;
  overflow-y: scroll;
}
#chall_posts::-webkit-scrollbar {
  width: 5px;
}
#chall_posts::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#chall_posts::-webkit-scrollbar-track {
  background-color: transparent;
}
#chall_posts:hover::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
} 
#chall_posts  tr{
 height: 10%;
 text-align: center;
 align-items: center;
 display: flex;
 transition: 0.5s all ease-in-out;
 margin-top: 10px;
}
#chall_posts >tr:hover {
  background-color: rgba(0,0,0,0.5);
}
#chall_posts >tr> td:first-child,
#chall_posts >tr> td:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
} 
#chall_posts >tr> td:nth-child(2){
  text-align: center;
  width: 60%;
}

#chall_posts > tr > td:last-child> button{
  width: 50%;
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:17px;
  font-weight: 600;
}
#chall_posts > tr > td:last-child> button:hover{
  cursor: pointer;
}
#chall_posts > tr > td:last-child> button:active{
  background-color: black;
  border-radius:4px solid black; 
  color:white;
}




.top textarea {
  width: 10%;
}

.top>textarea:nth-of-type(3) {
  width: 40%;
}

.top>input {
  height: 30px;
}

.top>input:nth-of-type(1) {
  width: 20%;
  margin: 0 18px 0 20px;
}

.top>input:nth-of-type(2) {
  width: 57%;
  margin-right: 18px;
}
.writeBtn {
  width: 15%;
  height: 5%;
  margin-top: 20px;
  float: right;
}

.writeBtn:hover {
  background-color: #000;
  color: #fff;
}

.writeBtnPlus {
  width: 15%;
  height: 30px;
  float: right;
}

.writeBtnPlus:hover {
  background-color: #000;
  color: #fff;
}
  
#mainSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 80%;
  border: 4px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
  flex-direction: column;
}

#mainSignup>button {
  width: 80%;
  height: 80px;
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:25px;
  font-weight: 600;
}
#mainSignup>button:hover{
  cursor: pointer;
}
#mainSignup>button:active {
  background-color: black;
  border: 4px solid black;
  color:white;
}

#mainSignin {
  height: 200px;
  border: #000 2px solid;
  display: inline-block;
}

.info {
  display: inline-block;
}
aside{
 margin-left: 70px;
}
#myinfo_box{
  display: flex;
  height: 70%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#myinfo_box >div:first-child{
  height: 20%;
  text-align: center;
  font-weight: 600;
}
#myinfo_box >div:first-child >span{
  font-family: 'Noto Sans KR', sans-serif;
  font-size:20px;
  font-weight: 600;
  margin: 0 10px;
}
#myinfo_box >div:nth-child(2){
  display: flex;
  align-items: center;
  height: 70%;
  width: 90%;
  background-color: black;
  color: white;
  border-radius: 10px;
  justify-content: center;
}
#myinfo_box >div:nth-child(2) >p{
  font-size:25px;
  font-weight: 600;
  margin: 0 10px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:30px;
  font-weight: 600;
}
#myinfo_box >div:nth-child(2)  >a{
  text-decoration: underline;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:15px;
  font-weight: 600;
}
#logout_zone{
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}
#logout_zone >button{
  width: 60%;
  height: 80%;
  border: 4px solid rgba(0,0,0,0.5);
  border-radius: 10px;  
  margin-bottom: 10px;
}
#logout_zone >button:hover{
  cursor: pointer;
}

#logout_zone >button:active{
  background-color: black;
  color:white;
  border: 4px solid black;
}


#NewsId > h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size:40px;
  font-weight: 600;
  border-bottom: 4px solid black;
  text-align: center;
}

#NewsId {
  border: 4px solid black;
  border-radius: 10px;
  height: 600px;
  width: 80%;
  background-color: cornsilk;
}
#today_news{
  margin-top:20px;
  font-size: 18px;
  margin-left: 20px;
}
#today_news>a:hover {
  text-decoration: underline;
  font-weight: 600;
  
}

#footer {
  height: 104.512px;
  margin: auto;

  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
#footer>div {
  display: flex;
}
#footer>div> h2{
  display: flex;
  font-size: 40px;
  font-family: 'Jua', sans-serif;
}
#footer>div> h2>p{
  color:red;
  margin-right: 10px;
}
#footer>div>span{
  font-size: 30px;
  font-weight: 500;
}
#footer>div>h2,
#footer>div>span {
  margin-left: 30px;
}