<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
 
    <meta charset="UTF-8">
    <title>탈퇴하기</title>
    
    <link rel="stylesheet" href="../static/leavePage.css" />

 



    
</head>

<body>
<div id = "header"></div>
<div id="contents">
  <form>
    <div id="contents__thumbnail"><img src="../static/bg3.jpeg"></div>
    <div id="balloon">탈퇴하시겠습니까?</div>
    <input id="contents__main__pwp" type="submit" value="PW확인">
    <input id="contents__main__withdraw" type="submit" value="탈퇴하기">
  </form>
</div>

</body>