<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <meta charset="UTF-8" />
    <title>탈퇴 페이지</title>
    <link rel="stylesheet" href="../static/leavePage.css" />
    <script src="../static/leavePage.js"></script>
  </head>

  <body>
    <div id="header"></div>
    <div id="contents">
      <div id="contents__header"><h1>슈퍼 겁쟁이들의 쉼터 입구</h1></div>
      <form>
        <div id="contents__thumbnail"><img src="../static/bg3.jpg" /></div>
        <div id="balloon">
          <h1>탈퇴....하시겠습니까?</h1>

          <h2>(슈퍼 겁쟁이가 되시겠습니까?)</h2>
        </div>
        <input
          id="contents__main__pwp"
          type="password"
          placeholder="PASSWORD 확인"
          required
        />
        <input id="contents__main__withdraw" type="submit" value="탈퇴하기" />
      </form>
    </div>
  </body>
</html>
