<!DOCTYPE html>
<html lang="en">


<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
 
    <meta charset="UTF-8">
    <title>마이페이지</title>
    
    <link rel="stylesheet" href="../static/mypage.css" />

 



    
</head>

<body>
<div id = "header"></div>
<div id="contents">
    <div id="contents__main">
        <form>       
            <input id="contents__main__paC" type="submit" value="비밀번호 변경">
            <input id="contents__main__profC" type="submit" value="프로필 변경">
            <input id ="contents__main__withdraw" type="button" value="탈퇴하기">
         </form>
    </div>
</div>

</body>
